#ios_header > h1 {
	color: #ccc;
}

div.add {
	display: inline-block;
	width: 100%;
	margin-bottom: .5em;
}

div.add > div.box {
	float: right;
	width: 55%;
}

div#party_name {
  padding: 1em 0 0 0;
}

div#party_name > h2 {
   color: #1CD6AB;
   display: inline-block;
   color: ;
}

div#party_name > i {
	color: #8E8E93;
  cursor: pointer;
}

i.fa-pencil {
  size: .75em;
}

div#party_description {
  padding-top: .25em;
}

div#party_description > p {
	color: #8E8E93;
	display: inline-block;
}

div#party_description > i {
	color: #8E8E93;
	cursor: pointer;
}

div#party_settings {
    padding-top: 1em;
}

/** PRIVACY **/
div#privacy {
	display: inline-block;
  padding-top: 1em;
}

div#privacy > h3 {
	float: left;
}

div#privacy > form {
	float: left;
	color: #8E8E93;
}

input.private {
  margin-left: .5em;
}

/** GENRES **/
div#add_genres {

}

div#add_genres > h3 {
	width: 120px;
	float: left;
	color: #8E8E93;
}

div#add_genres > div.box {
}

/** ADD FRIENDS **/

div#add_friends {
}

div#add_friends > h3 {
	width: 105px;
	float: left;
	color: #8E8E93;
}

div#add_friends > div.box {
}

div#tags {
	display: inline-block;
    clear: both;
    margin-top: .5em;
}

div#tags > div.a_tag {
    float: left;
    background-color: #ccc;
    margin: .25em .25em 0 0;
    color: white;
    border-radius: 5px;
    padding: .25em .5em;
}

input[type="radio"] {
  border: 1px solid gray;
}

div#tags > div.a_tag > p {
	display: inline-block;
}

div#tags > div.a_tag > i {
    float: right;
    margin: .2em 0 0 .5em;
}

/* SEARCH BOXES */
.container-1{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.container-1 input.search {
    height: 24px;
    width: 85%;
    /*background: white;*/
    padding-left: 2em;
    font-size: .75em;
    float: left;
    background-color: #EBEBEB;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    /*border: 1px solid #DDDDDD;*/
    border: none;
    color: #63717f;
}

.container-1 input.search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input.search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input.search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input.search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  margin: .1em 0 0 .3em;
  position: absolute;
  /*right: 0;*/
  z-index: 1;
  color: #8E8E93;
}

#footer_dialog {
    width: 90%;
    margin: auto;
    position: fixed;
    bottom: 14px;
    left: 0;
    right: 0;
}

#footer_dialog > h2 {
	display: inline-block;
	border-radius: 5px;
	padding: .75em 1em;
}

#create_button {
	background-color: #1CD6AB;
}

#create_button > a {
	text-decoration: none;
	color: white;
}

#cancel {
	background-color: #ccc;
}

#cancel > a{
	text-decoration: none;
	color: white;
}